{namespace tr.bProfile.bMiddlePanel.Template}

/**
* Middle panel template
*/
{template .base autoescape="strict" kind="html"}
	<div class="b-middle-panel">
		<div class="b-middle-panel__icon b-middle-panel__icon-trusted"></div>
		<div class="b-middle-panel__icon b-middle-panel__icon-profile"></div>
	</div>
{/template}