{namespace tr.bProfile.bMiddlePanel.Template}

/**
* Middle panel template
*/
{template .base autoescape="strict" kind="html"}
	<div class="b-profile-icons">
		<div class="b-profile-icons__icon b-profile-icons__icon-trusted"></div>
		<div class="b-profile-icons__icon b-profile-icons__icon-profile"></div>
	</div>
{/template}