.b-user-profession__icon {
	vertical-align: middle;
	display: inline-block;
}

.b-user-profession__text {	
	vertical-align: middle;
	display: inline-block;
	margin-left: 10px;
	font-size: 1.2rem;	
	color: green;	
}

.b-user-profession__icon-image {
	display: block;
}