{namespace tr.bProfile.bUserProfession.Template}

/**
* User profession template
*/
{template .base autoescape="strict" kind="html"}
	<div class="b-user-profession">
		<div class="b-user-profession__icon">
			<img src="img/trusted_normal.png" alt="" class="b-user-profession__icon-image">
		</div>
		<div class="b-user-profession__text">Таксист</div>
	</div>
{/template}