{namespace tr.bProfile.bContacts.Template}

/**
* Contacts template
*/
{template .base autoescape="strict" kind="html"}
	<div class="b-contacts">
		<div class="b-contacts__contact">
			{call tr.bProfile.bContact.Template.base /}
		</div>
	</div>
{/template}