{namespace tr.bUserAvatar.Template}

/**
* User Avatar template
*/
{template .base autoescape="strict" kind="html"}
	<div class="b-user-avatar">
		<img class="b-user-avatar__image" src="img/image_empty_profile.png" alt="">
	</div>
{/template}