.b-trusted-count {
	position: relative;
	top: -7px;
	display: inline-block;
	background-color: rgba(29, 29, 29, 0.62);
	padding: 1px 10px;
	border-radius: 40%;
}

.b-trusted-count__text {
	font-size: 0.85rem;
	color: white;
}