{namespace tr.bProfile.bTrustedCount.Template}

/**
* Template for trused counter
*/
{template .base autoescape="strict" kind="html"}
	<div class="b-trusted-count">
		<span class="b-trusted-count__text">100</span>
	</div>
{/template}