.b-profile__user-avatar, .b-profile__user-name, .b-profile__user-profession {
	text-align: center;
	margin-top: 20px;
}

.b-profile__trusted-count {
	text-align: center;
}

.b-profile__middle-panel {
	margin-top: 20px;
}

.b-profile__contacts {
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
}

.b-profile__comments {
	margin-top: 5px;
	width: 60%;
	margin: 0 auto;
}
